@model List<HIS.Domain.Models.Organization.OrganizationLocation>
@{
    ViewBag.Title = "Location List";

    int TotalRecords = Convert.ToInt32(ViewBag.TotalRecords);
    int Offset = Convert.ToInt32(ViewBag.Offset);
    int PageSize = Convert.ToInt32(ViewBag.PageSize);
    int NextOffset = Offset + PageSize;
    int TotalPages = Convert.ToInt32(Math.Ceiling((1.0 * TotalRecords) / PageSize));

}

<div class="portlet box green-turquoise bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble"></i>
            Location List
        </div>
        <div class="actions">
            <a class="btn btn-outline sbold uppercase portlet-button" href="javascript:;" title="Add New" onclick="AddEditLocation(0)">
                Add New <i class="fa fa-plus"></i>
            </a>

        </div>
    </div>
    <div class="portlet-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> List </a>
            </li>
            <li class="">
                <a id="idLocationAddEdit" href="#tab_1_2" data-toggle="tab" aria-expanded="false" onclick="AddEditLocation(0);"> Add New </a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_1_1">

                <div class="row">
                    <div class="col-xs-10 col-sm-4">
                        <input class="form-control" id="SearchText" onkeyup="SearchOrganizations();" placeholder="Enter text to search" />
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <button type="button" onclick="SearchFromServer();" class="btn btn-block dark btn-outline sbold uppercase"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">

                        <div class="table-responsive">
                            @if (Model == null || Model.Count < 1)
                            {
                                <h2>No Data found</h2>
                            }
                            else
                            {
                                <table class="table table-bordered table-striped table-condensed table-hover table-light" id="OrganizationList">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Edit</th>
                                        </tr>

                                    </thead>

                                    @foreach (HIS.Domain.Models.Organization.OrganizationLocation sc in Model)
                                    {
                                        <tr class="DataRow">
                                            <td>@sc.LocationName</td>
                                            <td>@sc.LocationTypeName</td>
                                            <td> <span href="#" onclick="AddEditLocation(@sc.Id)"> <i class="fa fa-edit"></i></span> </td>
                                        </tr>
                                    }

                                </table>
                            }


                        </div>



                    </div>


                    @Html.Action("PagingFooter", "Common", new { pageSize = PageSize, totalRecords = TotalRecords, url = Url.Action("LocationList", "Organization").ToString() })

                </div>

            </div>
            <div class="tab-pane fade" id="tab_1_2">
                <div id="tabAddLocation"></div>

            </div>


        </div>
        <div class="clearfix margin-bottom-20"> </div>
    </div>
</div>



<div class="spacer5"></div>

<script type="text/javascript">
    function SearchOrganizations() {
        var text = $.trim($("#SearchText").val().toLowerCase());

        if (text == "") {
            $(".DataRow").show();
        }
        else {
            $(".DataRow").each(function () {
                var organizationName = $(this).find("td:nth-child(1)").html().toLowerCase();
                var email = $(this).find("td:nth-child(2)").html().toLowerCase();
                var active = $(this).find("td:nth-child(3)").html().toLowerCase();

                if (organizationName.indexOf(text) < 0 && email.indexOf(text) < 0 && active.indexOf(text) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        }

    }

    function SearchFromServer() {
        window.location = "@Url.Action("LocationList", "Organization")/?searchText=" + document.getElementById("SearchText").value;
    }

    document.getElementById("SearchText").addEventListener("keypress", function (e) {


        if (e.keyCode == 13) {
            SearchFromServer();
        }
    });

    function AddEditLocation(id) {
    //    alert(id);
        $.ajax({
            url: '@Url.Action("LocationForm", "Organization")',
            type: "Get",
            dataType: "html",
            data: { id: id},
            async: true,
            success: function (msg) {
                $("#tabAddLocation").html(msg);
                debugger;
                Global.ActiveTab("idLocationAddEdit");
            },
            error: function () {
                Global.ShowAlertMessage("An error occured", "error", "Error");
            }

        });

    }

    function DeleteOrganization(id) {
        if (confirm("Do you wish to delete the organization?")) {
                $.ajax({
                url: '@Url.Action("DeleteOrganizationById", "Organization")',
                type: "Post",
                dataType: "json",
                data: { id: id},
                async: true,
                success: function (msg) {
                    Global.ShowAlertMessage(msg.Message, msg.Type, msg.Heading);
                },
                error: function () {
                    Global.ShowAlertMessage("An error occured", "error", "Error");
                }

            });
        }
    }

</script>