@model IEnumerable<HIS.Domain.Models.Common.Country>

@{
    ViewBag.Title = "ListCountry";
}

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryShortName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryShortName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryId })
        </td>
    </tr>
}

</table>
